div.login_form {
  margin: 20px auto;
  padding: 20px;
}

div.login_form input {
  width: 60%;
  height: 40px;
  margin: 0 0 8px;
  padding: 5px 39px 5px 11px;
  border: 1px solid #dadada;
  background-color: #fff;
}

/* div.login_form button {
  font-size: 20px;
  font-weight: 700;

  display: block;
  width: 60%;
  height: 49px;
  line-height: 49px;

  margin: 16px auto;
  cursor: pointer;

  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
} */

button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  /* padding: 0.5rem 1rem; */
  margin-left: 1rem;
  background-color: #22b8cf;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* .btn_insert:hover {
  background-color: #3bc9db;
} */

button {
  background-color: #22b8cf;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 7px 30px;
}

button:hover {
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484f 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #009e4f 49.95%,
    #009e4f 66.6%,
    #00aac3 66.6%,
    #00aac3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #e7484f 100%
  );
  animation: slidebg 3s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
