.main_nav ul{
	display: flex;
	border-bottom: 1px solid #22b8cf;
	color: #22b8cf;
	font-size: 24px;
	font-weight: bold;
	padding: 0.3rem;
	justify-content: space-evenly;
	justify-items: center;

}

.main_nav li{
	padding: 0.05rem;
	margin: 10px;
	/* color: white; */

}

.main_nav a {
	color: inherit;
}

.main_nav a:hover {
	
	border-bottom: 2px solid white;
}

